<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<environments default="development">
		<!-- 設定 -->
		<environment id="hackathon">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/dbname?autoReconnect=true&amp;useSSL=false" />
				<property name="username" value="root" />
				<property name="password" value="root" />
				<property name="poolMaximumActiveConnections" value="2" />
				<property name="poolMaximumIdleConnections" value="1" />
				<property name="poolMaximumCheckoutTime" value="20000" />
				<property name="poolPingEnabled" value="true" />
				<property name="poolPingQuery" value="select count(*) from dual" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="TBLNAME.xml" />
		<!-- 他のファイルがあれば追加 -->
	</mappers>
</configuration>
